ipykernel
python-dotenv
langchain
langchain_openai
langchain_core
langgraph
langchain_community
youtube-search-python
youtube-search
langchain_google_genai
wikipedia
lxml
langchain-tavily
yfinance
ddgs